<div class="row">
  <div class="col.xs.12">
    <h1>Date {{title_date | date}}</h1>
  </div>
</div>
<div class='row'>
  <div class='col-sm-12 body-content'>
    <div class="panel panel-default">
      <!-- Table -->
      <table class="table table-striped text-left">
        <thead>
          <tr>
            <td><strong>Zip Name</strong></td>
            <td><strong>Image Count</strong></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let track of trackings">
            <td><strong>{{track.zipName}}</strong></td>
            <td>
              <a [hidden]="track.images<=0" href="./thirdlevel/{{track.zipName}}">{{track.images}}</a>
              <a [hidden]="track.images>0" href="./secondlevel/{{date_original}}">{{track.images}}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
