<div class="row">
  <div class="col.xs.12">
    <h1>{{zipName}}</h1>
  </div>
</div>
<div class='row'>
  <div class='col-sm-12 body-content'>
    <div class="panel panel-default">
      <!-- Table -->
      <table class="table table-striped text-left">
        <thead>
          <tr>
            <td><strong>Image Name</strong></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let image of images">
            <td><strong>{{image.imageName}}</strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!--zipName: "File031.zip"-->
