<div class="row">
  <div class="col.xs.12">
    <h1>Web Reporter</h1>
  </div>
</div>

<div class='row'>
  <div class='col-sm-12 body-content'>
    <div class="panel panel-default">
      <!-- Table -->
      <table class="table table-striped text-left">
        <thead>
          <tr>
            <td><strong>Date</strong></td>
            <td><strong>Zips Count</strong></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let track of trackings">
            <td><strong>{{track.batchDay| date}}</strong></td>
            <td>
              <a [hidden]=" track.trackings <= 0 " href="./secondlevel/{{GetDate(track.batchDay)}}">{{track.trackings}}</a>
              <a [hidden]=" track.trackings > 0" href=".">{{track.trackings}}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
